@font-face {
    font-family: Galien;
    font-size:16px;
    font-style:normal;
    src: url("./../fonts/galien/galien_regular/@font-face/d1243736bfe07b546f8f1e54e7804afb.eot"); /* IE9*/
    src: url("./../fonts/galien/galien_regular/@font-face/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./../fonts/galien/galien_regular/@font-face/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"), /* chrome、firefox */
    url("./../fonts/galien/galien_regular/@font-face/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"), /* chrome、firefox */
    url("./../fonts/galien/galien_regular/@font-face/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./../fonts/galien/galien_regular/@font-face/d1243736bfe07b546f8f1e54e7804afb.svg") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: Gilroy;
    src: url("./../fonts/gilroy/Gilroy-Light.otf");
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    font-family: 'Gilroy';
}

.desktop{
    position: relative;
    background: #FFFFFF;
}

.desktop .container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

/*Header styles start*/
.header{
    display: flex;
    position: absolute;
    width: 1200px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    justify-content: space-between;
    align-items: center;
}
/*Header styles end*/

/*Intro styles start*/
.intro{
    height: 768px;
    background: linear-gradient(0deg, #eaf3fa 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.intro .container {
    padding-top: 190px;
}

.illustration {
    position: absolute;
    left: 447px;
    top: 125px;
}

.illustration-pic {
    height: 580px;
}

.intro_title{
    margin: 0 0 20px 0;
    width: 510px;
    font-family: 'Galien';
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}
.intro_subtitle{
    margin: 0 0 45px 0;
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}

.intro_button {
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
}

.intro_button:hover,
.intro_button:focus,
.intro_button:active {
    background: rgb(55 109 157);
    cursor: pointer;
}
/*Intro styles end*/

/*Main content styles start*/
.main_content {
    height: 1540px;
}

.main_content_title{
    padding-top: 190px;
    margin: 0;
    width: 358px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* blue_02 */
    color: #316099;
}

/*Cards styles start*/
.product_card {
    position: absolute;
    width: 380px;
    height: 525px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 220px 46px 50px;
}
.card_title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
}
.card_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}
.card_learnMore{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
     /*blue_04    */
    color: #5A98D0;
    text-decoration: none;
    display: flex;
    gap: 25px;
    align-items: center;
    font-weight: bold;
    padding-top: 15px;
}
.card_learnMore:hover,
.card_learnMore:active,
.card_learnMore:focus{
    text-decoration: underline;
    cursor: pointer;
}
.card-image-wrap {
    position: absolute;
}

.product_card.card1{
    right: 0;
    top: 192px;
}
.product_card.card1 .card-image-wrap{
    top: -25px;
    left: 68px;
}
.product_card.card1 .card-image{
    width: 254px;
}

.product_card.card2{
    left: 80px;
    top: 492px;
}
.product_card.card2 .card-image-wrap{
    top: 50px;
    left: 64px;
}
.product_card.card2 .card-image{
    width: 190px;
}

.product_card.card3{
    right: 0;
    top: 818px;
}
.product_card.card3 .card-image-wrap{
    top: 47px;
    left: 83px;
}
.product_card.card3 .card-image{
    width: 176px;
}
/*Cards styles end*/

/*Finish project starts*/
.finished_project{
    display: flex;
    justify-content: center;
}
.main_content_subtitle{
    position: absolute;
    width: 227px;
    height: 92px;
    left: 213px;
    top: 2302px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
}
.main_content_text{
    position: absolute;
    width: 540px;
    height: 80px;
    left: 533px;
    top: 2302px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}
.image_smart_home {
    position: absolute;
    width: 940px;
    height: 417px;
    left: 213px;
    top: 2490px;
}
.image_sparklite_app{
    position: absolute;
    width: 422px;
    height: 417px;
    left: 213px;
    top: 3003px;
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
    border-radius: 10px;
}
.image_car_rapetition{
    position: absolute;
    width: 422px;
    height: 417px;
    left: 731px;
    top: 3003px;
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
    border-radius: 10px;
}
.image1_text1{
    position: absolute;
    width: 341px;
    height: 46px;
    left: 764px;
    top: 2538px;
    margin-top: 0;
    text-align: end;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}
.image1_text2{
    position: absolute;
    width: 234px;
    height: 46px;
    left: 870px;
    top: 2592px;
    margin-top: 0;
    text-align: end;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    opacity: 0.8;
}
.image2_text1{
    position: absolute;
    width: 191px;
    height: 46px;
    left: 245px;
    top: 3027px;
    margin-top: 0;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}
.image2_text2{
    position: absolute;
    width: 100px;
    height: 46px;
    left: 245px;
    top: 3077px;
    margin-top: 0;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    opacity: 0.8;
}
.image3_text1{
    position: absolute;
    width: 280px;
    height: 46px;
    left: 763px;
    top: 3027px;
    margin-top: 0;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}
.image3_text2{
    position: absolute;
    width: 48px;
    height: 46px;
    left: 763px;
    top: 3077px;

    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    opacity: 0.8;
}
/*Finish project ends*/

.client{
    position: absolute;
    width: 223px;
    height: 92px;
    left: 213px;
    top: 3708px;
    margin-top: 0;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    z-index: 1;
}
.client_text {
    position: absolute;
    width: 540px;
    height: 80px;
    left: 533px;
    top: 3708px;
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
    opacity: 0.6;
    z-index: 1;
}
.client_table{
    position: absolute;
    width: 940px;
    height: 256px;
    left: 213px;
    top: 3911px;
    display: grid;
    place-items: center;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    z-index:1;
}

.client_table > div{
    color: white;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
}

.footer{
    position: absolute;
    width: 1366px;
    height: 1549px;
    left: 0;
    top: 3612px;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
}
