@font-face {
    font-family:"Galien Regular";
    font-size:16px;
    font-style:normal;
    src: url("d1243736bfe07b546f8f1e54e7804afb.eot"); /* IE9*/
    src: url("d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"), /* chrome、firefox */
    url("d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"), /* chrome、firefox */
    url("d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("d1243736bfe07b546f8f1e54e7804afb.svg#Galien Regular") format("svg"); /* iOS 4.1- */
}

html{
    box-sizing: border-box;
}

*,* ::before, ::after{
    box-sizing: inherit;
}

.desktop{
    flex: 1 0 auto;
    position: relative;
    width: 1366px;
    height: 5161px;
    background: #FFFFFF;
}

/*Header styles start*/
.header{
    display: flex;
    background: white;
}

.navigation{
    display: flex;
    position: absolute;
    width: 1200px;
    height: 48px;
    left: 83px;
    top: 40px;
    justify-content: space-between;
}
/*Header styles end*/

/*Intro styles start*/
.intro{
    position: absolute;
    width: 1366px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    opacity: 0.2;
    background-size: cover;
}

.illustration-pic {
    position: absolute;
    width: 687.25px;
    height: 579.31px;
    left: 655.38px;
    top: 133px;
}

.intro_title{
    position: absolute;
    max-width: 510px;
    max-height: 148px;
    left: 212px;
    top: 189px;
    margin:0;
    font-family:'Galien';
    font-size: 64px;
    line-height: 74px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.04em;
    /* Blue_01 */
    color: #1F3F68;
}
.intro_subtitle{
    position: absolute;
    width: 425px;
    height: 82px;
    left: 213px;
    top: 369px;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    vertical-align: top;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}

.intro_button {
    position: absolute;
    width: 220px;
    height: 56px;
    left: 213px;
    top: 522px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
}

.intro_button:hover, :focus, :active {
    background: rgb(55 109 157);
    cursor: pointer;
}
/*Intro styles end*/

/*Main content styles start*/
.main_content_title{
    position: absolute;
    width: 358px;
    height: 138px;
    left: 213px;
    top: 960px;
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    /* blue_02 */
    color: #316099;
}

.card1{
    position: absolute;
    width: 380px;
    height: 525px;
    left: 773px;
    top: 960px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.card2{
    position: absolute;
    width: 380px;
    height: 525px;
    left: 293px;
    top: 1256px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.card3{
    position: absolute;
    width: 380px;
    height: 525px;
    left: 773px;
    top: 1585px;
    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}



.footer{
    position: absolute;
    width: 1366px;
    height: 1549px;
    left: 0px;
    top: 3612px;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
}